.App {
    text-align: center;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

  }
  
  .search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .search-bar {
    padding: 8px;
    width: 50%;
  }
  
  .search-button {
    font-size: 14px;
    padding: 10px 20px;
  }
  
  .recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }